@charset "utf-8";

html {
    body {
        position: absolute;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        font-size: large;
        padding: 10px 5%;
    }
}

h1 {
    text-align: center;
}

h2 {
    align-items: left;
}

button {
    display: block;
    margin: 4px 2px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust margin as needed */
}